@using fxl.codes.tumblr.web.Utilities
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" lang="en">
        <title>@Constants.AppName | @ViewData["Title"]</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:900i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body class="mdc-typography">
        <header class="mdc-top-app-bar mdc-top-app-bar--fixed" id="app-bar">
            <div class="mdc-top-app-bar__row">
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                    <span class="mdc-top-app-bar__title">@Constants.AppName | @ViewData["Title"]</span>
                    
                </section>
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
                    Welcome @Context.User.AsAppUser().DisplayName
                    @Html.ActionLink("logout",
                        "Logout",
                        "Login",
                        "",
                        new
                        {
                            @class = "material-icons mdc-top-app-bar__action-item mdc-icon-button",
                            aria_label = "Logout"
                        })
                </section>
            </div>
        </header>

        <section id="main-container" class="mdc-top-app-bar--fixed-adjust">
            <div class="mdc-tab-bar" role="tablist">
                <div class="mdc-tab-scroller">
                    <div class="mdc-tab-scroller__scroll-area">
                        <div class="mdc-tab-scroller__scroll-content">
                            <button class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" tabindex="0">
                                <span class="mdc-tab__content">
                                    <span class="mdc-tab__icon material-icons" aria-hidden="true">article</span>
                                    <span class="mdc-tab__text-label">Posts</span>
                                </span>
                                <span class="mdc-tab-indicator mdc-tab-indicator--active">
                                    <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                                </span>
                                <span class="mdc-tab__ripple"></span>
                            </button>
                            <button class="mdc-tab" role="tab" aria-selected="false" tabindex="1">
                                <span class="mdc-tab__content">
                                    <span class="mdc-tab__icon material-icons" aria-hidden="true">queue</span>
                                    <span class="mdc-tab__text-label">Queued</span>
                                </span>
                                <span class="mdc-tab-indicator">
                                    <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                                </span>
                                <span class="mdc-tab__ripple"></span>
                            </button>
                            <button class="mdc-tab" role="tab" aria-selected="false" tabindex="1">
                                <span class="mdc-tab__content">
                                    <span class="mdc-tab__icon material-icons" aria-hidden="true">schedule</span>
                                    <span class="mdc-tab__text-label">Schedule New</span>
                                </span>
                                <span class="mdc-tab-indicator">
                                    <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                                </span>
                                <span class="mdc-tab__ripple"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <main id="main-content">
                @RenderBody()
            </main>
        </section>

        <div class="mdc-dialog">
            <div class="mdc-dialog__container">
                <div class="mdc-dialog__surface"
                     role="alertdialog"
                     aria-modal="true"
                     aria-labelledby="dialog-title"
                     aria-describedby="dialog-content">
                    <h2 class="mdc-dialog__title" id="dialog-title"></h2>
                    <div class="mdc-dialog__content" id="dialog-content"></div>
                </div>
            </div>
            <div class="mdc-dialog__scrim"></div>
        </div>

        <script src="/js/main.js"></script>
    </body>
</html>